.card-container {
  background-color: rgba(163, 163, 163, 0.05);
  font-family: "Roboto";
  color: #c3c3c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15em;
  height: 20em;
}
