.login-container {
  display: flex;
  flex-direction: column;
}

.welcome {
  color: black;
  font-size: 1em;
}

.login-message {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: column;
}

.text-divider {
  display: flex;
  align-items: center;
}

.text-divider::before,
.text-divider::after {
  content: "";
  height: 1px;
  background-color: silver;
  flex-grow: 1;
  margin: 0 1em;
}
